/*Block*/
.hidden {
  display: none;
}

.question-card-not-influenced-by-dm {
  width: 280px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-top: 17px;
  padding-top: 20px;
}
.question-card {
  background-color: cornsilk;
}
/*Elements*/

.question-card__headline {
  margin: 7px 7px 0 7px;
}

.question-card__text {
  margin: 10px;
  text-align: center;
}
.question-card__answer {
  margin: 10px;
  text-align: center;
}

.question-card__bookmark {
  position: absolute;
  font-size: 2em;
  right: 20px;
  top: -5px;
  cursor: wait;
}

.question-card__button {
  align-self: center;
}
.question-card__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.question-card li {
  margin-top: 0;
  padding: 2px 15px;
  background-color: darkkhaki;
  border-radius: 15px;
  box-shadow: darkseagreen;
}

/*Modifier*/

.quiz-card__bookmark--toggled {
  color: green;
  scale: 1.5;
}
