* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}
/*grid-container*/
.grid-layout {
  display: grid;
  height: 100vh;
  min-width: 320px;
  max-width: 60vw;
  grid-template-rows: [header]60px [main]auto [footer]60px;
  margin: 0 auto;
}
/*grid-items*/
header {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-header);
  /*position: sticky;
  top: 0;*/
}
main {
  grid-row: 2 / 3;
  background-color: var(--background-main);
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.cards-item {
  width: 280px;
  height: auto;
  background-color: var(--background-cards);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-top: 17px;
}
.cards-item h2 {
  margin: 7px 7px 0 7px;
}
.cards-item p {
  margin: 7px 7px 0 7px;
}
.bookmark-card {
  position: absolute;
  font-size: 2em;
  right: 20px;
  top: -5px;
  cursor: wait;
}
.flex-tag {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  align-items: center;
  justify-content: space-evenly;
}
button {
  align-self: center;
}

footer {
  grid-row: 3 / 4;

  background-color: var(--background-footer);
  /*position: sticky;
  bottom: 0;*/
}
footer nav ul {
  display: flex;
  justify-content: space-around;

  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

input,
button {
  font-size: 1em;
}
